version: '3.9'

services:
  api:
    build: .
    environment:
      - NODE_ENV=development
      - PORT=3000
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=signalops
      - POSTGRES_PASSWORD=signalops
      - POSTGRES_DB=signalops
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=change-me
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"

  worker:
    build: .
    command: ["node", "dist/workers/event.worker.js"]
    environment:
      - NODE_ENV=development
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=signalops
      - POSTGRES_PASSWORD=signalops
      - POSTGRES_DB=signalops
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=change-me
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: signalops
      POSTGRES_PASSWORD: signalops
      POSTGRES_DB: signalops
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pgdata:

